<!DOCTYPE html>
<html>
<head>
    <title>Raspberry Pi Camera Stream</title>
    <style>
        body {
            background-color: #222;
            color: #eee;
            text-align: center;
            font-family: Arial, sans-serif;
        }
        img {
            margin-top: 20px;
            width: 80%;
            max-width: 640px;
            border: 5px solid #444;
        }
    </style>
</head>
<body>
    <h1>Camera Stream</h1>
    <img src="{{ url_for('video_feed') }}" alt="Video Stream">
</body>
</html>
